:root{
    --c-grey: #dedede;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.cards .card {
    border: 1px solid var(--c-grey);
    border-radius: 5px;
    width: 100px;
    height: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;


}

.cards .card:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.08) 0 4px 12px;
}

.cards .card .emoji {
    font-size: 3rem;
}

.cards .card .description {
    text-align: center;
}